* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

input {
  border: none;
  outline: none;
}

svg {
  fill: #767676;
}

button {
  border: none;
}

.header {
  width: 100%;
  padding: 1.5rem;
  position: fixed;
  background-color: #ffffff;
  z-index: 100;
  /* &.scrolled {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }*/
}

.navigation {
  height: 4.8rem;
  display: flex;
  align-items: center;

  &-logo {
    height: 4.8rem;
    width: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &-list {
    display: flex;
  }

  &-buscar {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    height: 100%;
    border-radius: 2.4rem;
    width: 100%;

    &:hover {
      background-color: #e1e1e1;
    }
  }

  &-icon {
    margin: 0 1rem;
  }

  &-input {
    background-color: transparent;
    font-size: 1.6rem;
    width: 100%;
  }

  &-item {
    margin: 0 1rem;
  }

  &-link {
    &--bg {
      background-color: #000000;
      color: #ffffff;
      padding: 1.5rem;
      border-radius: 2.4rem;
    }
  }

  &-cuenta {
    display: flex;
    height: 100%;
    margin-left: 1rem;
  }

  &-perfil {
    img {
      height: 2.4rem;
      width: 2.4rem;
      border-radius: 50%;
    }
  }

  &-opcion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;
    width: 2.4rem;
    cursor: pointer;

    &-container {
      height: 2.4rem;
      width: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: rgb(237, 237, 237);
        border-radius: 50%;
      }
    }
  }
}

.icon-svg {
  height: 2.4rem;
  width: 2.4rem;
}

.icon-op {
  height: 1.2rem;
  width: 1.2rem;
}

.icon-search {
  height: 1.6rem;
  width: 1.6rem;
}

.container-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(237, 237, 237);
    border-radius: 50%;
  }
}

.main {
  padding-top: 7.8rem;

  &-container {
    margin: 0 auto;
    width: 1400px;
    padding: 1rem 0;
    /*display: grid;
    grid-template-columns: repeat(4, auto);*/
    columns: 4 auto;
    /*grid-template-rows: auto;*/
    /*grid-auto-rows: min-content;*/
    /*grid-auto-rows: auto;*/
    gap: 2rem;
  }

  &-images {
    /*   height: fit-content;*/
    /* height: auto;
    width: auto;*/
    position: relative;
    /*width: 100%;
    height: auto;*/
    /*   display: inline-block;*/
    /*margin: 2rem 0;*/
    padding: 1rem 0;
    border-radius: 1rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: #e60023;
    color: #ffffff;
    padding: 1.5rem 2rem;
    border-radius: 2.4rem;
    font-weight: 600;
    display: none;
    cursor: pointer;
  }
}

.bg-image {
  transition: filter 0.3s ease;
  border-radius: 1.5rem;
}
